:root {
    --blue: #0328EE;
    --background: #010725;
    --dark-blue: #010D50;
}

html {font-size: 62.5%;}
body {
    font-family: "DM Sans", sans-serif;background-color: var(--background);
}

* {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

.wrapper {
    max-width: 151rem;
    margin: 0 auto;
    color: white;
    background-image: url(../images/Group.png);
    background-repeat: repeat-y;
    background-position: center;
}

/* box */
.box-1 {
    background-color: var(--dark-blue);
    border-radius: 4rem;
    padding: 4.5rem 2rem;
    svg {
        margin-bottom: 2rem;
    }
    h3 {
        margin-bottom: 1rem;
        font-size: 1.8rem;
        line-height: 2.5rem;
        font-weight: bold;
    }
    p {
        font-size: 1.6rem;
        line-height: 2.6rem;
        max-width: 27rem;
    }
    
}
/* end box */

/* main title */
.main-ttl {
    margin-top: 17rem;
    margin-bottom: 8rem;
    text-align: center;
    &>h3 {
        font-size: 4.2rem;
        line-height: 5rem;
        margin: 0;
    }
    &>p{
        margin: 0;
        font-size: 1.8rem;
        line-height: 3.2rem;
    }

}
/* end main title */



/* buttons */
.btt-1 {
    font-size: 1.6rem;
    font-weight: bold;
    padding: 2rem 3rem;
    height: 5.6rem;
    width: 21rem;
    border-radius: 8rem;
    background-color: var(--blue);
    color: white;
    cursor: pointer;
    border: none;
    position: relative;
    overflow: hidden; 
&:before {
    content: '';
    position: absolute;
    height: 140%;
    width: 4rem;
    background-color: white;
    box-shadow: 0 0 1rem white;
    filter: blur(.2rem);
    opacity: 0.8;
    top: -10%;
    left: -6rem;
    transform: rotate(-20deg);
    transition: .4s;
}
&:hover::before {
    transform: rotate(-20deg) translate(28rem , 9rem);
}
}

.btt-2 {
    font-size: 1.6rem;
    font-weight: bold;
    padding: 2rem 3rem;
    height: 5.6rem;
    width: 21rem;
    border-radius: 8rem;
    background-color: rgba(255, 255, 255, .1);
    color: white;
    cursor: pointer;
    border: none;
    position: relative;
    overflow: hidden; 
&:before {
    content: '';
    position: absolute;
    height: 140%;
    width: 4rem;
    background-color: white;
    box-shadow: 0 0 1rem white;
    filter: blur(.2rem);
    opacity: 0.8;
    top: -10%;
    left: -6rem;
    transform: rotate(-20deg);
    transition: .4s;
}
&:hover::before {
    transform: rotate(-20deg) translate(28rem , 7rem);
}
}


/* end buttons */

/* header */
header {
    padding: 2rem 15rem;
    font-size: 1.4rem;
    .logo {
        margin-right: 2rem;
        position: relative;
        p {
            font-weight: bold;
        }
        &:after {
            content: '';
            position: absolute;
            border-right: 1px solid var(--dark-blue);
            height: 100%;
            right: -3rem;
            margin-right: 1rem;
        }
    }
    nav {
        ul {
            li {
                display: flex;
                align-items: center;
                svg.burger-btt {
                    cursor: pointer;
                    background-color: var(--blue);
                    border-radius: 50%;
                    padding: .2rem;
                }
                a {
                    &.active,&:hover {
                        text-decoration: underline;
                    }
                }
                &:hover {
                    a {
                        text-decoration: underline;
                    }
                }
            }
        }
        .mobile-menu {
            position: fixed;
            top: -1.5rem;
            right: 0;
            height: 100vh;
            backdrop-filter: blur(2rem);
            z-index: 100;
            width: 20rem;
            transition: .6s;
            transform: translateX(100%);
            font-size: 1.6rem;
            padding-top: 1rem;
            padding-right: 1rem;
            li{
                margin: 1rem 0;
            }
            & li:first-child {
                display: flex;
                justify-content: end;
                align-items: center;
                svg {
                    margin: 1rem 1rem 0;
                    cursor: pointer;
                }
            }
        }
    }
    .btt {
        justify-content: end;
    }
}

.show-menu {
    transform: translateX(0) !important;
    box-shadow: 0 0 1rem black;
}

.show-mobile {
    display: none;
}

@media only screen and (max-width:1150px) {
    header {
        padding-left: 2rem;
        padding-right: 2rem;
        .btt-1 {
            width: 14rem;
            padding: 2rem 1rem;
        }
    }

    
}
@media only screen and (max-width:780px) {
    header {
        .logo:after {
            display: none;
        }
    }
    .show-mobile {
        display: flex;
        align-items: center;
    }
    .hide-mobile {
        display: none;
    }
    
}
/* end header*/

/* landing */
.landing {
    padding-left: 15rem;
    padding-top: 8rem;
    overflow: hidden;
    .info {

        h1 {
            font-size: 6.6rem;
            line-height: 8rem;
        }
        p {
            line-height: 3rem;
        }
    }

}

@media only screen and (max-width:1050px) {
    .landing {
        padding-left: 3rem;
    }
}

@media only screen and (max-width:780px) {
    .landing {
        padding: 4rem 2rem 0;
        overflow:none;
        flex-direction: column; 
        gap: 4rem;
        .info {
            h1 {
                font-size: 3.8rem;
                line-height: 4rem;
            }
        }

        .buttons {
            flex-direction: column;
            align-items: center;
            gap: 1.6rem;
            button {
                width: 60%;
                height: 7rem;
                &::before {
                    display: none;
                }
            }
        }
        .image {
            svg {
                width: 35rem;
                height: 21rem;
            }
        }
    }
    
}

@media only screen and (max-width:500px) {
    .buttons {
        button {
            width: 90% !important;
        }
    }
}

.landing-list {
    ul {
        justify-content: center;
        gap: 2rem 7rem;
        flex-wrap: wrap;
    }
}
/* end landing */

/* portfolio */
.portfolio {
    .p-wrapper {
        justify-content: center;
        padding: 0 14rem;
    }
}
.p-wrapper {
    
    overflow: hidden;
    justify-content: center;
    div {
        min-width: 21rem;
    }
}




@media only screen and (max-width:1250px) {
    .portfolio {
        .p-wrapper {
            padding: 0 2rem;
        }
    }
    .p-wrapper {
        padding: 4rem 2rem !important;
        gap: 3rem !important;
        flex-wrap: wrap;
        .pc-img {
            width: 90%;
            
        }
        .p2nd-w {
            min-width: 41rem;
        }
    }
}
@media only screen and (max-width:900px) {
    .portfolio {
        .p-wrapper {
            flex-wrap: wrap;
        }
    }

    .p-wrapper div:has(.pc-img){
        display: flex;
        flex-direction: column;
        justify-content: center !important;
        align-items: center !important;
        svg {
            height: auto;
        }
    }
}

@media only screen and (max-width:800px) {
    .p-wrapper {
        ul {
            padding-left: 2rem;
        }
        .main-ttl {
            margin: 2rem 0;
        }
    }

}
@media only screen and (max-width:500px) {
    .p2nd-w {
        min-width: 10rem !important;
    }

}

.p-3rd {
    background-color: var(--blue);
    padding: 0 10rem 0 15rem;
    height: 51rem;    

    .main-ttl {
        width: 58rem;
    }
    svg {
        bottom: 0;
    }
}

@media only screen and (max-width:1450px) {
    .p-3rd {
        overflow-x: hidden;
        svg {
            height: 100%;
        }
    }
}
@media only screen and (max-width:1100px) {
    .p-3rd {
        padding: 2rem;
    }
}
@media only screen and (max-width:950px) {
    .p-3rd {
        flex-direction: column;
        align-items: center;
        height: auto;
        overflow: hidden;
        .main-ttl {
            margin: 2rem 0;
            width: auto;
        }
        svg {
            width: 30rem;
            bottom:-30%; 
        }
    }
}
/* end portfolio */

/* comments */
.comments {
    overflow: hidden;
    .c-user {
        width: 200rem;
        transform: translateX(-25rem);
        .box {
            padding: 6rem 5rem;
            background-color: var(--dark-blue);
            border-radius: 4rem;
            opacity: .3;
            width: 58rem;
            height: 34rem;
            transition: .3s;
            &.active {
                opacity: 1;
            }
        }
    }
    .slider {
        ul {
            justify-content: center;
            li {
                background-color: white;
                border-radius: 50rem;
                height: 1.4rem;
                width: 1.4rem;
                opacity: .4;
                &.active {
                    opacity: 1;
                }
            }
        }
    }
}

@media only screen and (max-width:800px) {
    .comments {
        margin-top: 5rem !important;
        .c-ttl {
            flex-direction: column;
            align-items: center;
            margin-bottom: 3rem;
            h3{
                margin-top: 0;
            }

        }
        .c-user {
            padding: 0 3rem;
            transform: translateX(0);
            width: auto;
            justify-content: center;
            .box:not(.active) {
                display: none;
            }
            .box.active {
                height: auto ;
                width: auto ;

            }
        }
        .slider {
            ul {
                gap: 1.5rem;
            }
        }
}
}
/* end comments */

/* video */
.video {
    padding: 15rem;
    .main-ttl {
        margin-top: 3rem ;
        width: 47rem;
    }
    .main-v {
        border-radius: 4rem;
        width: 66rem;
        height: 40rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--dark-blue);
    }
}

@media only screen and (max-width:1200px) {
    .video {
        padding: 5rem;
    }
}

@media only screen and (max-width:1000px) {
    .video {
        padding: 5rem 2rem;
    }
}

@media only screen and (max-width:800px) {
    .video {
        flex-direction: column;
        gap: 2rem;
        .main-ttl {
            margin: 1rem 0;
            width: 90%;
        }
        .main-v {
            width: auto;
        }
    }
}
/* end video */

/* lastest-news */
.lastest-news {
    padding: 2rem 13rem;
    .main-ttl {
        margin-top: 0;
        gap: 3rem;
    }
    .lastest-news-wrapper {
        
        .box {
            width: 38rem;
            padding: 25rem 3rem 3rem;
            border-radius: 4rem;
            background-color: #010D50;

            .products {
                top: 0;
                right: 0;
                left: 0;
                img {
                    width: 100%;
                    border-top-left-radius: 4rem;
                    border-top-right-radius: 4rem;
                }
                .text {
                    background-color: var(--blue);
                    position: absolute;
                    padding: .9rem 1.4rem;
                    border-radius: 4rem;
                    left: 4rem;
                    bottom: -1.5rem;
                }
            }
            .avatar {
                padding-top: 2rem;
                border-top: 1px solid rgba(255, 255, 255, .1);
            }
        }
    }
}

@media only screen and (max-width:1200px) {
    .lastest-news {
        padding: 2rem 3rem;
    }
}
@media only screen and (max-width:1000px) {
    .lastest-news-wrapper {
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media only screen and (max-width:800px) {
    .lastest-news {
        .main-ttl {
            flex-direction: column;
        }
    }
}

/*  end lastest-news */

/* downlead app */
.downlead-app {
    padding: 0 2rem 12rem;
    .main-ttl {
        margin: 4rem 0 4rem;
        h3 {
            margin-bottom: 2rem;
        }
    }
    .downlead {
        gap: 7rem;
        justify-content: center;
        flex-wrap: wrap;
        .box {
            padding: 4.8rem 4.8rem 0;
            border-radius: 4rem;
            background-color: var(--dark-blue);
            width: 56rem;
            h3 {
                margin-top: 0;
            }
        }
    }
}

@media only screen and (max-width:1000px) {
    .downlead-app {
        .main-ttl {
            flex-direction: column;
        }
    }
}
@media only screen and (max-width:800px) {
    .downlead-app {
        .downlead {
            .box {
                width: 90%;
                img {
                    width: 80%;
                }
            }
        }
    }
}

/* end downlead app */

/* footer */
footer {
    background-color: #010D50;
}
.footer {
    max-width: 151rem;
    margin: auto;
    color: white;
    padding: 5rem 15rem 3rem;
    .footer-social {
        .social {
            svg {
                cursor: pointer;
            }
        }
    }
    div:has(.menu) {
        margin-top: 4rem;
        padding-bottom: 12rem;
        .menu {
            h3 {
                border-bottom: 2px solid white;


            }
            ul {
                padding: 0;
                margin-right: 5rem;
                li {
                    font-size: 1.4rem;
                    margin-top: 1.8rem;
                    text-transform: uppercase;
                    &.active {
                        font-weight: bold;
                    }
                }
            }
        }
        .downlead {
            width: 50rem;
            background-color: rgba(255, 255, 255, .1);
            border-radius: 4rem;
            padding: 4rem 3rem;
        }
    }
}




@media only screen and (max-width:1100px) {
    .footer {
        padding: 5rem 2rem 3rem;
        div:has(.menu) {
            padding-bottom: 6rem;
            flex-wrap: wrap;
            justify-content: center;
            .menu {
                margin-bottom: 2rem;
            }
        }
    }
}

@media only screen and (max-width:800px) {
    .footer-social {
        flex-direction: column;
        gap: 3rem;
    }
    .footer {
        .downlead {
            width: 90% !important;
        }
    }
}

@media only screen and (max-width:800px)  {
    .footer {
        .downlead {
            .buttons {
                flex-direction: column;
                align-items: center;
            }
        }
    }
}

/* end footer */